{{ define "main" }}
<main>
	{{ $listtitle := .Title }}
	{{ if or .Title .Content }}
	<div>
		{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	</div>
	{{ end }}

	{{ range .Paginator.Pages }}
	{{ if eq $listtitle "Posts" }}
	<article>
		<h3>
			{{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
		</h3>
	</article>
	{{ else if eq $listtitle "Bookmarks" }}
	<article>
		<h3>
			{{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
		</h3>
	</article>
		{{ else if eq $listtitle "Notes" }}
	<article>
		<h3>
			{{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
		</h3>
	</article>
	{{ end }}
	{{ end }}

	{{ if eq $listtitle "Tags" }}
	<ul>
		{{ range .Paginator.Pages }}
		<li>
			<div class="post-title">
				{{ if eq $listtitle "Tags" }}
				<a href="{{ .RelPermalink }}">{{.Title }}</a>
				{{ end }}
			</div>
		</li>
		{{ end }}
	</ul>
	{{ end }}

	{{ partial "pagination.html" . }}
</main>
{{ end }}
