<header>
        <a href="/">{{ .Site.Title }}</a>
        <br/>
        {{ strings.Repeat ( .Site.Title | len | add 13 ) "-" }}
        <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
        <p>
        <nav>
                This is my small corner where I publish my notes and save some
                interesting readings for posterity.
                <br/>
                <br/>
                        <a href="/"><b>Home</b></a>.
                        {{ with .Site.Menus.main }}
                        {{ range . }}
                        <a href="{{ .URL | relLangURL }}"><b>{{ .Name }}</b></a>.
                        {{ end }}
        </nav>
        </p>
        {{ end }}
</header>
